.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto; /* Set the first row to fill available space and the second row to fit its content */
    overflow: hidden; /* Hide the overflow for the container */
}

.lyrics-container {
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 20px;
}

/* Style for the player container */
.player-container {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-top: 1px solid rgba(255,255,255, .3);
    font-size: 24px;
}